<section class="d-flex flex-column align-items-center justify-content-center mt-5">
  <div class="w-7/12">
    <header>
      <h1 class="border-bottom border-2 fs-1 fw-bold pb-3">Front-end developer test project</h1>
      <p class="main-txt mt-3 fw-medium">Your goal is to make a page that looks exactly this one, and has the ability to create H1 text simply by typing / then 1, then typing text, and hitting enter.</p>
    </header>
  </div>
  <section id="container-wrapper" class="d-flex flex-column align-items-center justify-content-center mt-5 w-7/12">
    <div id="container" class="input-container w-100">
      <input id="text-input" class="w-100 mt-5 p-0 opacity-40 fs-5" type="text" placeholder="Type /1 followed by text..." autofocus>
    </div>
  </section>
</section>
 <%= javascript_include_tag 'generator' %>
