<section class="d-flex align-items-center justify-content-center">
  <div class="d-flex align-items-center col-md-7 border border-2 rounded-md p-2 justify-content-between">
    <div class="d-flex align-items-center gap-3">
        <p class="navbar-text border-end px-3 py-2 mt-2 rounded-md">P</p>
      
      <div class="navbar-border border-end border-start border-2 px-3 opacity-50">
        <i class="far fa-clock"></i>
        <span>0min</span>
      </div>
       <%= image_tag("rabbit.png", alt: "small logo", class: "ms-3") %>
      <div class="d-flex opacity-50 border-start border-2 ps-2">
        <%= image_tag("arrow.png", alt:"small logo")%>
        <span>0</span>
      </div>
    </div>
    <div class="d-flex align-items-center gap-3 me-3">
        <%= image_tag("check.png", alt:"small logo", class:"w-6 opacity-50")%>
        <%= image_tag("cloud.png", alt:"small logo") %>
      <i class="fas fa-ellipsis-v fa-lg"></i>
    </div>
  </div>
</section>

<section class="d-flex">
</section>

