<nav class="m-4 d-flex justify-content-between align-items-center ">
  <div class="d-flex gap-2 opacity-50 align-items-center">
    <a class="me-4 text-decoration-none text-dark" href="#" >>></a>
    <i class="fas fa-book-open"></i>
    <a class="text-decoration-none text-dark" href="#">Main</a>
    <span>/</span>
    <a class="text-decoration-none text-dark" href="#">Getting started</a>
    <span>/</span>
    <a class="text-decoration-none text-dark" href="#">Front-end developer test project...</a>
  </div>
  <div class="d-flex align-items-center">
    <div class="d-flex align-items-center">
      <%= image_tag("unlock.png", alt: "small logo", class: "unlock-img me-2 opacity-50") %>
      <a class="opacity-50 me-3 text-dark text-decoration-none" href="#">Editing</a>
    </div>
    <select class="space form-select border-0 text-primary fw-bold" name="space" id="space">
      <option class="my-2" value="1" selected>Publish Space</option>
      <option class="my-2" value="2">Select 2</option>
      <option class="my-2" value="3">Select 3</option>
      <option class="my-2" value="4">Select 4</option>
    Publish Space
    </select>
  </div>
</nav>
