* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

 .unlock-img {
    width: 20px;
    height: 20px;
 }

 .navbar-text {
    color: #22543d;
    background-color: #9ae6b4;
 }

 .navbar-border {
    border-color: #6c757d; 
 }

 .main-txt {
   color: #6B7280
 }

select {
  background-image: none;
}

input {
  border: none !important;
}

input:focus,
select:focus {
  outline: none !important;
  box-shadow: none !important;
}

.fa-ellipsis-vertical {
  color: black;
}

h1 {
  font-size: 1.25rem;
  font-weight: bold; 
  width: 100%;
  margin-top: 1.25rem;
}

.paragraph {
  color: #6B7280;
}

.text-img {
  width: 3rem;
  height: 2.5rem;
}

@media (min-width: 992px) {
  .navbar-collapse {
    display:flex;
    justify-content: space-between;
  }
}
